<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="AWS_ACCESS_KEY_ID" value="AKIAJLULNFRMHBN7J7YQ"/>
    <add key="AWS_SECRET_KEY" value="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"/>
		<add key="AWSRegion" value="us-east-1"/>
    <add key="SSServiceURL" value ="http://localhost:8732/"/>
    <add key="ClientNum" value ="1"/>
    <add key="WebServerPort" value ="8877"/>
    <add key="WebServerURL" value ="0.0.0.0"/>
    
	</appSettings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
