SSService/SSService/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SSService/SSService/obj/x86/Debug/SSService.csproj.FileListAbsolute.txt
SSService/SSService/obj/x86/Debug/SSService.exe
SSService/SSService/obj/x86/Debug/SSService.pdb
SSService/SSService/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
SSService/SSService/obj/x86/Release/SSService.csproj.FileListAbsolute.txt
SSService/SSService/obj/x86/Release/SSService.exe
SSService/SSService/obj/x86/Release/SSService.pdb
SSService/SSService/bin/
Shareshare_1/ShareShare/ShareShareTestProject/bin/
Shareshare_1/ShareShare/bin/Release/
Shareshare_1/ShareShare/obj/Debug/shareshare-test.pdb
Shareshare_1/ShareShare/obj/
Shareshare_1/ShareShare/bin/
Shareshare_1/ShareShare/ShareShareTestProject/obj/Debug/ShareShareTestProject.csproj.FileListAbsolute.txt
SSService/SSService/obj/x86/Debug/SSService.csprojResolveAssemblyReference.cache
Shareshare_1/ShareShare/ShareShareTestProject/obj/Debug/ShareShareTestProject.csprojResolveAssemblyReference.cache
Shareshare_1/ShareShare/ShareShareTestProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Shareshare_1/ShareShare/ShareShareTestProject/obj/Debug/ShareShareTestProject.dll
