<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
    <appSettings>
      <add key="AWS_ACCESS_KEY_ID" value="AKIAJLULNFRMHBN7J7YQ"/>

      <add key="AWS_SECRET_KEY" value="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"/>
      <add key="AWSRegion" value="us-east-1" />
      <add key="SERVICEURI" value="http://localhost:8732/"/>
    </appSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  


  <!-- Server Configuration -->
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="SSService.EnableCrossOriginResourceSharingBehavior, SSService" />
      </behaviorExtensions>
    </extensions>
    
    <services>
      <service
          name="SSService.SSService"
          behaviorConfiguration="SimpleServiceBehavior">

        <!--<endpoint address="service"
                  binding ="webHttpBinding"
                  bindingConfiguration="webHttpTransportSecurity"
                  contract="SSService.ISSService" 
                  behaviorConfiguration="WebHttpBehaviour"
                   />-->



        <endpoint address=""
                  binding ="webHttpBinding"
                  contract="SSService.ISSPublic"
                  behaviorConfiguration="WebHttpBehaviour"
                   />
        
        <!--<endpoint address=""
                  binding="wsHttpBinding"
                  contract="SSService.ISSService" />

        
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />-->
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    

    <behaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="False" policyVersion="Policy12" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="SSService.CustomUserNameValidator, SSService" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehaviour">
          <webHttp automaticFormatSelectionEnabled="false"  defaultOutgoingResponseFormat="Json" helpEnabled="true" />
         
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    
    
  </system.serviceModel>
</configuration>
